<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Super todo</title>
  <script src="./lib/eventemitter.js"></script>
  <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
  <!-- <script src="https://unpkg.com/page@1.11.5/page.js"></script>
  <script src="https://unpkg.com/htm@3.0.3/dist/htm.js"></script> -->
  <link rel="stylesheet" href="./assets/main.css">
</head>

<body>
  <div class="app">
    <div>
      <status-bar></status-bar>
      <hr>
    </div>
    <app></app>
  </div>
  <div style="display:none">
    <div class="file-editor">
      <div class="buttons">
        <button v-on:click="save">save</button>
        <button v-on:click="back">back</button>
      </div>
      <textarea v-model="currentFile.content"></textarea>
    </div>
    <div class="file-item">
      <div class="file-name">{{ name }}</div>
      <div class="buttons">
        <button v-on:click="edit">edit</button>
        <button v-on:click="deleteFile">delete</button>
      </div>
    </div>
    <div class="main-menu">
      <div>Main menu</div>
      <div class="buttons">
        <button v-on:click="gotoListOfFiles">List of files</button>
        <button v-on:click="gotoTasks">Tasks</button>
      </div>
    </div>
    <div class="list-of-files">
      <div class="buttons">
        <button v-on:click="addFile">Add file</button>
        <button v-on:click="back">back</button>
      </div>
      <div class="file-items">
        <file-item v-for="(file, idx) in files" v-bind:key="file.id" v-bind:idx="idx">
        </file-item>
      </div>
    </div>
    <div class="loading">
      <!-- {{ googleDrive.statusMsg }} -->
    </div>
    <div class="status-bar">
      Last msg: {{ statusBar.msg }}
    </div>
  </div>
  <script src="./src/google-drive.js"></script>
  <script src="./src/main.js"></script>
  <script src="https://apis.google.com/js/api.js"></script>
  <script>
    function start() {
      changeGoogleDriveStatus('starting googleapi client initilazing');
      initClient();
    };
    changeGoogleDriveStatus('starting load googleapi client');
    gapi.load('client', start);
  </script>
</body>

</html>